# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
people_num = np.random.randint(100000,size=10)

# 這裡用隨機抽樣國的感覺，不直接用range列出1~10
# 國家隨機清單不能重複
country_list = []
while len(country_list)<10:
    country = np.random.randint(10)
    if country not in country_list:
        country_list.append(country)
country_list,people_num

([9, 7, 5, 4, 6, 3, 0, 8, 1, 2],
 array([55951, 85703, 44360, 88389, 84946, 65991, 20514,  5816, 78260,
        15713]))

In [3]:
data = {'國家':country_list ,
        '人口':people_num}
data = pd.DataFrame(data)
data

   國家     人口
0   9  55951
1   7  85703
2   5  44360
3   4  88389
4   6  84946
5   3  65991
6   0  20514
7   8   5816
8   1  78260
9   2  15713

In [4]:
# 依照人口由小到大排序
array_data = data.groupby("人口").max()
array_data

       國家
人口
5816    8
15713   2
20514   0
44360   5
55951   9
65991   3
78260   1
84946   6
85703   7
88389   4

In [5]:
array_data.iloc[-1][0]

4